<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- BXposed reads xposed_init from assets to find the hook entry point -->
    <application>
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="VCam Revived camera hook" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
    </application>
</manifest>
